.root{
    -fx-background: darkred ;
    -fx-focus-color: salmon;
    -fx-font-family: "Narkisim";
}

.button{
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0.0 , 2 , 0 );
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.header-label{
    -fx-font-weight: bold;
    -fx-text-fill: silver;
}

.titleLabel{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-underline: true;
    -fx-text-fill: peachpuff;
}

#welcome-customer-label{
    -fx-font-family: "MV Boli";
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.check-box{
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-focus-color: silver;

}

.check-box .mark {
    -fx-shape:
            "M2,0L5,4L8,0L10,0L10,2L6,5L10,8L10,10L8,10L5,6L2,10L0,10L0,8L4,5L0,2L0,0Z";
}
.combo-box{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.table-view .column-header .label {
    -fx-text-fill: salmon;
}

.table-row-cell-risk {
    -fx-background-color: red;
}
