.root{
    -fx-background: lightsteelblue;
    -fx-focus-color: darkslateblue;
    -fx-font-family: "Arial";
}

.button{
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.header-label{
    -fx-font-weight: bold;
}

.titleLabel{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-underline: true;
}

#welcome-customer-label{
    -fx-font-family: "Gabriola";
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.check-box{
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-focus-color: indianred;
}

.combo-box{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.table-row-cell-risk {
    -fx-background-color: red;
}